.Burger {
    width: 100%;
    margin: auto;
    height: 250px;
    margin-top: 2rem;
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
}

::-webkit-scrollbar {
    width: 1rem;
}

::-webkit-scrollbar-thumb {
    background-color: var(--color-theme-light);
    border: 2px solid var(--color-white);
    outline: none;
    border-radius: 10px;
}

@media(min-width: 300px){
    .Burger{
        width: 300px;
        height: 350px;
        overflow: hidden;
        overflow-y: scroll;
    }
}


@media(min-width: 600px){
    .Burger{
        width: 400px;
        height: 450px;
        overflow: hidden;
        overflow-y: scroll;
    }
}

@media(min-width: 700px){
    .Burger{
        width: 450px;
        height: 500px;
        overflow: hidden;
        overflow-y: scroll;
    }
}


@media(min-width: 800px){
    .Burger{
        width: 550px;
        height: 600px;
    }
}

@media(min-width: 1000px){
    .Burger{
        width: 700px;
        height: 600px;
    }
}