.Toolbar {
    height: 6.5rem;
    width: 100%;

    position: fixed;
    top: 0;
    left: 0;

    background-color: var(--color-theme-dark);

    display: flex;
    justify-content: space-between;
    align-items:center;
    
    padding: 1.5rem 3rem;
    box-sizing: border-box;
    z-index: 90;
}

@media(min-width: 500px){
    .Toolbar{
        display: flex;
        justify-content: flex-start;
    }
}


.Toolbar nav {
    height: 100%;
}


.Logo {
    height: 120%;
}

@media(max-width:500px){
    .Logo{
        display: none;
    }
}

@media(min-width: 500px){
    .Toolbar nav{
        margin-left: auto;
    }
    .Logo{
        margin-right: 2rem;
    }
}


@media(max-width: 499px){
    .DesktopOnly {
        display:none;
    }
}