.ContactData{
    background-image: linear-gradient(to right bottom, 
        var(--color-white) 48%,
        var(--color-theme-dark) 48%,
        var(--color-theme-dark) 48.5%,
        #DAD735 48.5%,
        #DAD735 51%,
        var(--color-theme-dark) 51%,
        var(--color-theme-dark) 51.5%,
        var(--color-grey) 51.5%
    );
    
    width: 75%;
    padding: 2rem;
    margin-top: 2rem;

    border: 3px solid var(--color-black);
    box-shadow: 2px 2px 2px var(--color-black);
    text-align: center;
    text-transform: capitalize;
}

@media(max-width: 900px){
    .ContactData{
      width: 90%;
    }
}

@media(max-width: 600px){
    .ContactData{
      background-image: linear-gradient(to right, var(--color-white) 50%, var(--color-grey));
    }
}


.ContactData h3{
    font-size: 1.75rem;
    width: 50%;
    margin: auto;
    padding: 0.5rem;
    color: var(--color-theme-dark);
    border: 3px solid var(--color-theme-dark);
    background-color: #DAD735;
    box-shadow: 2px 2px 2px var(--color-theme-dark);
}

@media(max-width: 900px){
    .ContactData h3{
      width: 70%;
    }
}


@media(max-width: 400px){
    .ContactData h3{
      width: 80%;
    }
}

.ContactForm{
    margin-top: 1rem;
    padding: 2rem;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.ContactForm Button {
    margin-top: 2rem;
    font-size: 1.75rem;
    padding: 1rem;

    border: 3px solid var(--color-black);
    box-shadow: 2px 2px 2px var(--color-black);
    background-color: green;
    color: white;

}

