.ContactData{
    background-color: var(--color-white);

    width: 50%;
    padding: 2rem;
    margin-top: 2rem;

    border: 3px solid var(--color-black);
    box-shadow: 2px 2px 2px var(--color-black);
    text-align: center;
    text-transform: capitalize;
}

.ContactData h3{
    font-size: 1.75rem;
    color: var(--color-theme-dark);
}

.ContactForm{
    margin-top: 1rem;
    padding: 2rem;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.ContactForm input{
    width: 75%;
    padding: 1rem 2rem;
    margin-bottom: 1rem;

    border: 3px solid var(--color-theme-dark);
    border-radius: 50px;
    box-shadow: 2px 2px 2px var(--color-theme-dark);

    font-family: inherit;
    font-size: 1.5rem;
    font-weight: 600;

    color: var(--color-black);
    background-color: #DAD735;
}


@media(max-width: 900px){
    .ContactData{
      width: 90%;
    }
    .ContactForm input{
        width: 95%;
    }
}

.ContactForm Button {
    margin-top: 2rem;
    font-size: 1.75rem;
    padding: 1rem;

    border: 3px solid var(--color-black);
    box-shadow: 2px 2px 2px var(--color-black);
    background-color: green;
    color: white;

}

