.ContactData{
    background-color: var(--color-white);

    width: 50%;
    padding: 2rem;
    margin-top: 2rem;

    border: 3px solid var(--color-black);
    box-shadow: 2px 2px 2px var(--color-black);
    text-align: center;
    text-transform: capitalize;
}

@media(max-width: 900px){
    .ContactData{
      width: 90%;
    }
}

.ContactData h3{
    font-size: 1.75rem;
    width: 75%;
    margin: auto;
    padding: 0.5rem;
    color: var(--color-theme-dark);
    border-bottom: 3px solid var(--color-theme-dark);
}

.ContactForm{
    margin-top: 1rem;
    padding: 2rem;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.ContactForm Button {
    margin-top: 2rem;
    font-size: 1.75rem;
    padding: 1rem;

    border: 3px solid var(--color-black);
    box-shadow: 2px 2px 2px var(--color-black);
    background-color: green;
    color: white;

}

