/*Changes made to input css*/
.formElement{
    padding: 1rem;
    width: 70%;
    margin-bottom: 0.5rem;

    display: flex;
    flex-direction: row;
    justify-content: center;
}

.Input{
    padding: 1rem;
    width: 65%;
    height: 5.5rem;

    border: 3px solid var(--color-theme-dark);
    border-radius: 50px;
    box-shadow: 2px 2px 2px var(--color-theme-dark);

    font-family: inherit;
    font-size: 1.75rem;
    font-weight: 600;

    color: var(--color-black);
    background-color: #DAD735;
}

@media(max-width: 900px){
    .Input{
      width: 75%
    }
}


@media(max-width: 500px){
    .Input{
      font-size: 2rem;
    }
}
  
  
.Input:focus{
    outline: none;
}

.Input::placeholder{
    color: var(--color-theme-dark);
    font-size: 1.75rem;
}

.Valid{
    padding: 1rem;
    width: 65%;

    border: 3px solid var(--color-white);
    border-radius: 50px;
    box-shadow: 2px 2px 2px var(--color-theme-dark);

    font-family: inherit;
    font-size: 1.75rem;
    font-weight: 600;

    color: var(--color-black);
    background-color: greenyellow;
}

@media(max-width: 900px){
    .Valid{
      width: 75%
    }
}
  
.Invalid{
    padding: 1rem;
    width: 65%;

    border: 3px solid var(--color-white);
    border-radius: 50px;
    box-shadow: 2px 2px 2px var(--color-theme-dark);

    font-family: inherit;
    font-size: 1.25rem;
    font-weight: 600;

    color: var(--color-white);
    background-color: salmon;
}

@media(max-width: 900px){
    .Invalid{
      width: 75%
    }
}

@media(max-width: 600px){
    .formElement{
        width: 100%;
    }

    .Input, 
    .Valid{
        font-size: 2rem;
        padding: 1rem;
    }
}

@media(max-width: 400px){
    .Input,
    .Valid{
        width: 60%;
    }
}