.Orders{
    background-color: var(--color-theme-light);

    border: 3px solid var(--color-theme-dark);
    box-shadow: 0 1rem 2rem rgb(0,0,0);

    width: 60%;
    margin: 2rem auto;
    padding: 2rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.Orders h1{
    text-align: center;
    font-size: 2.25rem;

    text-transform: capitalize;
    background-color: #DAD735;
    border: 2px solid black;
    box-shadow: 2px 2px 2px black;
    display: inline-block;

    padding: 1rem;
    margin-bottom: 2rem;
}


@media(max-width: 700px){
    .Orders{
      width:95%;
    }
}